<div class="d-flex flex-row justify-content-center bg-info">
    <div class="p-2 bgMenu">
      <img src="assets/images/menu65.png" (click)="open = !open">
       <ngx-flyout [(open)]="open" [position]="position" [showCloseButton]="showCloseButton" [showBackdrop]="showBackdrop" [hideOnBackdropClick]="hideOnBackdropClick">
        <div class="menu-container bg-info">
          <ul>
            <li><b>Admin</b></li>
            <li><b>Directions</b></li>
            <li [routerLink]="['/charities']"><b>Charities</b></li>
            <li [routerLink]="['/events']"><b>Events</b></li>
            <li [routerLink]="['/home']"><b>Home</b></li>
            <li [routerLink]="['/links']"><b>Links</b></li>
            <li [routerLink]="['/members']"><b>Members</b></li>
            <li [routerLink]="['/pics']"><b>Pics</b></li>
            <li [routerLink]="['/sponsors']"><b>Sponsors</b></li>
            <li [routerLink]="['/upload']"><b>Upload Pics</b></li>
          </ul>
        </div>
      </ngx-flyout>
    </div>
    <div class="p-1">
      <font size='6'><b>Tri Town Cruzers</b></font>
     </div>
  </div>  
  <div class="bgContent">
    <div class="d-flex flex-row bg-transparent">
      <div class="headerText"><b>...Upload Pics...</b></div>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="eventdate"><font size='3'><b>Event Date</b></font></label>
          <div class="input-group">
          <input class="form-control" placeholder="" 
                 name="eventdate" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
          <div *ngIf="f.eventdate.touched && f.eventdate.invalid" class="alert alert-danger">
            <div *ngIf="f.eventdate.errors.required">Event Date is required.</div>
          </div>
        </div>
        <div class="form-group">
            <label for="eventdetail"><font size='3'><b>Event Detail</b></font></label>
            <input class="form-control"
                name="eventdetail"
                id="eventdetail" 
                type="text"
                size="30" 
                class="form-control">
            <div *ngIf="f.eventdetail.touched && f.eventdetail.invalid" class="alert alert-danger">
                <div *ngIf="f.eventdetail.errors.required">Event Detail is required.</div>
            </div>
        </div>
    
        <div class="form-group">
          <label for="pic"><font size='3'><b>Pics to Upload</b></font></label>
          <input class="form-control"
                name="pic"
                id="pic" 
                type="file"
                size="30" 
                class="form-control"
                multiple="" 
                (change)="onFileChange($event)">
            <div *ngIf="f.pic.touched && f.pic.invalid" class="alert alert-danger">
                <div *ngIf="f.pic.errors.required">Pic is required.</div>
            </div>
        </div>
    
        <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div> 